* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.backgroundImage {
  background-image: url(ima/banner.png);
  height: 800px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
}

.text {
  width: 30%;
  text-align: end;
  margin-right: 300px;
  /* bunu arastir */
}
.text h1 {
  font-size: 55px;
}
.text p {
  font-size: 18px;
}
.text button {
  width: 120px;
  height: 50px;
  background-color: rgb(241, 104, 53);
  color: rgb(255, 255, 255);
  font-size: 18px;
}
.text,
.text p,
.text h1 {
  padding-bottom: 20px;
}
.container {
  height: 700px;
  background-color: ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box {
  height: 500px;
  width: 80%;
  background-color: rgb(207, 207, 207);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}
.box h1 {
  font-size: 40px;
}
.box p {
  width: 60%;
  font-size: 20px;
}
.grate {
  display: flex;
}
.grate1 {
  margin-left: 100px;
}
.grate1,
.grate2,
.grate3 {
  margin-right: 30px;
  width: 400px;
}

.box1 {
  height: 550px;
 
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.img1 img {
  width: 420px;
  height: 470px;
  border-radius: 15px;
}
.text {
  text-align: center;
  width: 500px;
}
.text ul,
p {
  list-style: none;
  font-size: 20px;
}
.secton2{
  height: 600px;
  background-color: aqua;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}
.secton2 h2{
  text-align: center;
  padding-top: 20px;
  font-size: 40px;
}
.logos{
  display: flex;
  justify-content: space-around;

}
.logo1,.logo2,.logo3,.logo4{
  width: 400px;
 text-align: center;

}
.secton2 .watch{
  width: 80%;
  height: 60%;
}